@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --main-color: #deab5f;
    --primary-color:#312e2e;
}

/* Utility Styles */
button {
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

/* Resets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #100e0f;
}

/* Nav Start */
nav {
display: flex;
justify-content: space-around;
align-items: center;
color: white;
font-family: sans-serif;
padding-top: 15px;
}

li {
    display: inline;
    list-style: none;
}

li a {
    columns: white;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover {
    border-bottom: 2px solid var(--main-color);
}

/* Nav end */

/* Header Start */

.header {
    background:url(./assets/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family:  "Playfair Display", serif;
    font-weight: normal;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}

.main-headings {
    position: absolute;
    top: 15rem;
    font-size: 4rem;
    word-spacing: 10px;
    
}

.primary-heading {
position: absolute;
bottom: 4rem;
font-size: 4rem;
word-spacing: 10px;
margin-bottom: 40px;
}

.main-btn {
    position:absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}
/*Our story Start */

#our-story {
    height: 100vh;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 400px;
    height: 400px;
    background: url(assets/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
}

.title-style {
    display: flex;
    align-items: center;

}

.title {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    color: #fff;
    transform: translateX(-100px);
}

.line {
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translatex(-120px);
}

.section-content p {
max-width: 500px;
color: #fff;
font-family: sans-serif;
line-height: 20px;
margin: 20px 0;
}
/* Our story end */

/* Coffee Start */

.coffee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}


.img-2 {
    width: 400px;
    height: 400px;
}

.title-two {
    font-size: 3rem;
    color: #fff;
    font-family: "Playfair Display" serif;
}

.content-section p {
    max-width: 500px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #fff;
}
/* Coffee Start END */

.products {
    margin-top: 5rem;

}

.title-three {
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: 2px solid var(--main-color);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}

.card-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
}

.img-one {
    background: url(assets/1.png);
    background-position: center;
    background-size: cover;
}
.img-two {
    background: url(assets/2.png);
    background-position: center;
    background-size: cover;
}
.img-three {
    background: url(assets/3.png);
    background-position: center;
    background-size: cover;
}

.card-title {
    color: #fff;
    font-family: sans-serif;
    margin-top: 50px;
}

.card .items p {
    columns: #fff;
    margin: 20px 0;
    font-family: sans-serif;
}